.head{
	background-color: rgb(240,248,255);
	justify-content: space-between !important;
	display: flex;
	padding: 10px;
}
.form-style{
	border-bottom: 1px  solid black;
padding-top: 10px;
padding-bottom: 20px;
	margin: 20px;
}
#txtthu{
	margin-left: 20px;
}
.container{
	display: flex;
	justify-content: center;
	height: 100%;
}

html,body{
	height: 100%;
}